<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UsersEntities" connectionString="metadata=res://*/UsersModel.csdl|res://*/UsersModel.ssdl|res://*/UsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8FST53U\SQLEXPRESS;initial catalog=Users;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>